/* General Button Styling */
button {
    background-color: var(--button-bg-dark);
    color: white;
    border: none;
    padding: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: var(--font-size-small);
    border-radius: 0.3125rem;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

button:hover {
    background-color: var(--button-hover-bg-dark);
}

body[data-theme="light"] button:hover {
    background: var(--button-hover-bg);
}

/* Timeline Container */
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Timeline Item */
.timeline-item {
    background: var(--secondary-bg-dark);
    max-width: 37.5rem;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

body[data-theme="light"] .timeline-item {
    background: var(--secondary-bg);
}

.timeline-item:hover {
    transform: scale(1.03);
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
}

/* Timeline Content */
.timeline-content {
    text-align: left;
    padding-left: 0.9375rem;
}

.timeline-content .title {
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-bottom: 0.3125rem;
    color: var(--primary-text);
}

.timeline-content .year {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--button-bg-dark);
    margin-bottom: 0.625rem;
}

.timeline-content .description {
    font-size: var(--font-size-small);
    color: var(--primary-text);
    line-height: 1.4;
}

/* Semester Container*/
.semester-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    align-items: center;
}

/* Semester Item */
.semester-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--secondary-bg);
    border-radius: 0.625rem;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    position: relative;
    font-size: var(--font-size-medium);
    font-weight: bold;
}

body[data-theme="dark"] .semester-item {
    background: var(--secondary-bg-dark);
}

.semester-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
}

/* Semester Grades */
.semester-grades {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    color: white;
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
    text-align: left;
    padding-top: 1rem;
    width: 100%;
}

.semester-item:hover .semester-grades {
    max-height: 500px;
}

/* Grade Text */
.semester-grades p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.semester-grades .subject {
    font-weight: bold;
    flex-grow: 1;
}

.semester-grades .grade {
    text-align: right;
}

/* Diploma Section */
.diploma-section {
    background: var(--secondary-bg-dark);
    padding: 0.75rem;
    margin: 1rem auto;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    color: var(--primary-text);
}

body[data-theme="light"] .diploma-section {
    background: var(--secondary-bg);
}

.diploma-section h2 {
    margin-top: 1rem;
    font-size: var(--font-size-small);
}

.diploma-section ul {
    list-style: disc inside;
    margin-left: 1rem;
}

.diploma-section p {
    margin: 0.5rem 0;
}

/* Navigation*/
nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: var(--font-size-small);
    text-decoration: none;
    color: var(--primary-text);
    background-color: var(--secondary-bg-dark);
    border-radius: 0.5rem;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--button-hover-bg);
}

@media (min-width: 768px) {
    /* Adjust Timeline Item */
    .timeline-item {
        width: 60%;
        padding: 1.25rem;
    }

    /* Buttons */
    button {
        font-size: var(--font-size-medium);
        width: auto;
    }

    /* Semester Container */
    .semester-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .semester-item {
        width: 200px;
    }

    /* Diploma Section */
    .diploma-section {
        width: 70%;
        padding: 1.25rem;
    }

    /* Navigation */
    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    nav ul li a {
        padding: 1rem 2rem;
        font-size: var(--font-size-medium);
    }
}

@media (min-width: 1024px){
    button{
        padding: 1rem 2rem;
        margin: 1rem;
    }
}

