@import 'variables.css';
@import 'contact.css';
@import 'cv.css';
@import 'api-calls.css';
@import 'about.css';

* {
    margin: 0;
    padding: 0;
}

/* General Page Styling */
body {
    font-family: var(--font-family);
    background-color: var(--primary-bg-dark);
    color: var(--primary-text-dark);
    text-align: center;
    margin: 0;
    padding: 1.25rem; /* 20px */
    font-size: var(--font-size-small);
}

/* Header Styling */
header {
    background-color: var(--secondary-bg-dark);
    color: var(--primary-text-dark);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

/* Logo Styling */
.logo img {
    width: 30vw;
    height: 30vw;
    display: block;
    margin: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* Navigation Styling */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-dark);
    font-size: var(--font-size-medium);
    padding: 0.75rem 1.5rem;
    background: var(--button-bg-dark);
    border-radius: 0.5rem;
    display: inline-block;
    box-shadow: 0 4px 0 var(--button-hover-bg-dark), 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    position: relative;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--button-bg-dark);
    box-shadow: 0 2px 0 var(--button-bg-dark), 0 4px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(2px);
    color: white;
}

.theme-toggle {
    background-color: var(--button-black);
    color: white;
    width: 50px;  /*fixed width */
    height: 50px; /*fixed height */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

@media (min-width: 320px) and (max-width: 768px) {
    .header-top {
        justify-content: space-between;
        width: 100%;
    }

    .theme-toggle {
        border-radius: 50%;
        background-color: var(--button-hover-bg-dark);
        color: white;
        position: relative;
        width: 10vw;
        height: 10vw;
    }

    .logo img {
        width: 20vw;
        height: 20vw;
    }

    nav ul {
        gap: 0.75rem;
    }

    nav ul li a {
        font-size: 10px;
        padding: 0.5rem;
        margin-top: 1rem;
    }
}

/* Theme Toggle Hover */
.theme-toggle:hover {
    transform: scale(1.1);
    background-color: var(--button-lighter-black);
}

/* Welcome Section */
.welcome-section {
    text-align: center;
    margin-top: 2rem;
}

.welcome-section h1 {
    font-size: 2rem;
    font-weight: bold;
}

.welcome-section p {
    font-size: 1.2rem;
    color: #555;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
}

.image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Light Theme */
body[data-theme="light"] {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

body[data-theme="light"] header {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
}

body[data-theme="light"] nav ul li a {
    color: var(--primary-text);
    background: var(--button-bg);
    box-shadow: 0 4px 0 var(--button-hover-bg);
}

body[data-theme="light"] nav ul li a:hover {
    color: var(--button-bg);
    background: var(--button-hover-bg);
}

body[data-theme="light"] .theme-toggle {
    background-color: var(--button-black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

body[data-theme="light"] .theme-toggle:hover {
    background-color: var(--button-lighter-black); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

body[data-theme="light"] button {
background-color: var(--button-bg);
}

body[data-theme="light"] button:hover {
background-color: var(--button-hover-bg);
}


/* Responsive Header */
@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        flex-shrink: 0;
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        flex-wrap: nowrap;
    }

    nav ul li a {
        white-space: nowrap;
        margin-top: 0;
    }

    .logo img {
        width: 8vw;
        height: 8vw;
    }

    .theme-toggle{
        width: 5vw;
        height: 5vw;
    }
}

@media (min-width: 1024px) {
    .logo img {
        width: 6vw;
        height: 6vw;
    }

    nav ul {
        gap: 3rem;
    }
}

/* Footer Styling */
footer {
    background-color: var(--secondary-bg-dark);
    color: var(--primary-text-dark);
    text-align: center;
    margin-top: auto;
    width: 100%;
    border-radius: 0.5rem;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
}

footer section div {
    text-align: center;
    max-width: 300px;
}

footer h3 {
    font-size: var(--font-size-large);
    margin-bottom: 1rem;
    color: var(--button-bg-dark);
}

footer p, footer a {
    font-size: var(--font-size-small);
    color: var(--primary-text-dark);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--button-hover-bg-dark);
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.social-icon {
    font-size: var(--font-size-large);
    color: var(--primary-text-dark);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
    color: var(--button-hover-bg-dark);
}

/* Footer Bottom Section */
footer div:last-of-type {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--font-size-small);
    color: var(--primary-text-dark);
}

/* Light Theme Footer */
body[data-theme="light"] footer {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
}

body[data-theme="light"] footer h3 {
    color: var(--button-bg);
}

body[data-theme="light"] footer p,
body[data-theme="light"] footer a {
    color: var(--primary-text);
}

body[data-theme="light"] .social-icon {
    color: var(--primary-text);
}

body[data-theme="light"] .social-icon:hover {
    color: var(--button-hover-bg);
}

@media (min-width: 768px) {
    footer section {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Ensure Footer Stays at Bottom */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
